{
  "env": "production",
  "api": {
    "base_url": "https://s.<your-domain>/api/links"
  },
  "auth": {
    "CF-Access-Client-Id": "<your-client-id>.access",
    "CF-Access-Client-Secret": "<your-client-secret>"
  },
  "headers": {
    "Content-Type": "application/json"
  }
}
