name = "cf-url-shortener"
main = "src/index.ts"
compatibility_date = "2025-11-02"

# 透過 `wrangler kv:namespace create "LINKS"` 取得 id 後填入
kv_namespaces = [
  { binding = "LINKS", id = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" }
]

[[routes]]
pattern = "s.<your-domain>/*"
zone_name = "<your-domain>"

[vars]
AUTHOR = "Your-Name"
CONTACT = "your@gmail.com"

[observability]
[observability.logs]
enabled = true
head_sampling_rate = 1
invocation_logs = true
persist = true